h3 {
    margin: 0px;    
}

div {
    max-width:40%
}

div:hover {
    border: 2px solid #000;    
}

div.orange-color{
    padding: 10px 0px 10px 10px;
}

h1, h3 {
    font-style:italic;
}


.blue-color {
    background-color:blue;
    max-width: 40;
}

.green-color {
    background-color:green;
}

.orange-color {
    background-color: orange;
}

.marine-blue-color {
    background-color: #120a8f;
    color: #fff;
}

.yellow-color {
    background-color:yellow;
}
