.super-mario {
  width: 200px;
  position: absolute;
  top:260px;
  left:140px;
  
}

.goomba {
  width: 100px;
  position: absolute;
  left:250px;
  top:520px;
}

.baloon {
  position: absolute;
  top: 280px;
  left:400px; 
  z-index: 1;


}

.speach {
  font-size: 25px;
  position: absolute;
  top:330px;
  left:420px;
  z-index: 2;
  
}

.bowser {
  width: 200px;
  position: absolute;
  top: 400px;
  left: 700px;
}




